/* Шрифты */
@font-face {
  font-family: 'Heebo';
  src: url('./fonts/Heebo-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Heebo';
  src: url('./fonts/Heebo-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Yantramanav';
  src: url('./fonts/Yantramanav-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Нормализация */
*,
::before,
::after {
  box-sizing: border-box;
}

:where(ul, ol):where([class]) {
  padding-left: 0;
}

body,
:where(blockquote, figure, fieldset):where([class]) {
  margin: 0;
}

:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  padding: 0;
  border: none;
}

:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

p {
  --paragraphMarginBottom: 24px;

  margin-block: 0;
}

p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
textarea,
select,
button {
  font: inherit;
}

html {
  height: 100%;
  scrollbar-gutter: stable;
  scroll-behavior: smooth;
}

body {
  min-height: 100%;
  line-height: 1.5;
}

a:where([class]) {
  display: inline-flex;
}

button,
label {
  cursor: pointer;
}

button {
  -webkit-tap-highlight-color: transparent;
}

:where([fill]:not([fill='none'], [fill^='url'])) {
  fill: currentColor;
}

:where([stroke]:not([stroke='none'], [stroke^='url'])) {
  stroke: currentColor;
}

svg * {
  transition-property: fill, stroke;
}

:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Переменные */
:root {
  --color-dark: #000000;
  --color-dark-alternate: #131619;
  --color-dark-gray: #404040;
  --color-light-gray: #c4c4c4;
  --color-light: #ffffff;

  --border-radius: 30px;
  --border: 1px solid var(--color-light);

  --font-fmily-base: 'Heebo', sans-serif;
  --font-fmily-accent: 'Yantramanav', sans-serif;

  --input-height: 54px;

  --container-width: 1300px;
  --container-padding: 15px;

  --header-height: 90px;

  --transition-duration: 0.2s;
}

/* Общие стили */
body {
  font-family: var(--font-fmily-base);
  color: var(--color-light-gray);
  font-size: 16px;
  line-height: 1.75;
  background-color: var(--color-dark);
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding);
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: var(--color-light);
}

a:hover {
  color: var(--color-light-gray);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  text-transform: uppercase;
}

.button {
  display: inline-flex;
  align-items: center;
  height: 38px;
  padding-inline: 26px;
  font-style: 12px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  white-space: nowrap;
  background-color: var(--color-light);
  border: none;
  border-radius: var(--border-radius);
}

.button:hover {
  background-color: var(--color-light-gray);
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: var(--header-height);
  background-color: var(--color-dark-alternate);
  padding-inline: 32px;
  column-gap: 20px;
}

.header-logo {
  flex-shrink: 0;
}

.header-menu-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 50px;
}

.header-menu-link {
  display: inline-flex;
  height: var(--header-height);
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 1.2px;
  column-gap: 7px;
}

.header-menu-link.is-current::after {
  content: '';
  width: 5px;
  aspect-ratio: 1;
  background-color: currentColor;
  border-radius: 50%;
}

.header-actions {
  display: flex;
  column-gap: 40px;
}

.header-burger-button {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  width: 40px;
  aspect-ratio: 1;
  background-color: transparent;
  color: var(--color-light);
  border: var(--border);
  border-radius: 50%;
  padding-left: 8px;
  row-gap: 4px;
}

.header-burger-button:hover {
  color: var(--color-light-gray);
  border-color: currentColor;
}

.header-burger-button-line {
  width: 6px;
  height: 1px;
  background-color: currentColor;
  box-shadow: 16px 0 0 currentColor;
}

/* Banner */
.banner {
  display: flex;
  flex-direction: column;
  justify-content: end;
  min-height: calc(100vh - var(--header-height));
  color: var(--color-light);
  background-color: var(--color-dark-alternate);
  padding: 36px 70px;
}

.banner-body {
  text-transform: uppercase;
}

.banner-info {
  display: flex;
  align-items: end;
  font-size: clamp(13px, 1.56vw, 30px);
  line-height: 1.27;
  font-weight: 700;
}

.banner-info::before {
  content: '';
  width: clamp(60px, 10.1vw, 194px);
  aspect-ratio: 1;
  background: url('./icons//bold-arrow-down-right.svg') center/contain no-repeat;
  margin-right: 30px;
}

.banner-title {
  font-size: min(18.75vw, 360px);
  line-height: 1;
}

.banner-pagination-list {
  display: flex;
  justify-content: center;
}

.banner-pagination-item {
  display: flex;
}

.banner-pagination-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  padding: 7px;
  border: none;
}

.banner-pagination-button::after {
  content: '';
  width: 10px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: var(--border);
  transition-duration: var(--transition-duration);
}

.banner-pagination-button.is-current::after {
  background-color: var(--color-light);
}

.banner-pagination-button:not(.is-current):hover::after {
  border-color: var(--color-light-gray);
}

/* Адаптив */
@media (max-width: 1024px) {
  .header {
    flex-wrap: wrap;
    row-gap: 10px;
    padding-top: 20px;
  }

  .header,
  banner {
    padding-inline: 15px;
  }

  .header-menu {
    order: 1;
    flex-basis: 100%;
  }

  .header-menu-link {
    height: 50px;
  }

  .banner {
    row-gap: 10px;
    padding: 26px 50px;
  }
}

@media (max-width: 767px) {
  .button {
    padding-inline: 13px;
  }

  .header {
    padding-top: 10px;
  }

  .header-menu-list {
    column-gap: 15px;
  }

  .header-menu-link {
    height: 32px;
  }

  .header-actions {
    column-gap: 15px;
  }

  .banner {
    padding: 16px 20px;
  }

  .banner-info {
    margin-bottom: 5px;
  }

  .banner-info::before {
    margin-right: 10px;
  }
}
